@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&family=Roboto:wght@400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.header {
  min-height: 1024px;
  padding-top: 217px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) -7.35%, #000915 100%), url(../img/bg.jpg) center/cover no-repeat;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
.header__content {
  grid-column: span 8;
  display: flex;
  flex-direction: column;
}
.header .content__title {
  margin-bottom: 32px;
  font-weight: 700;
  font-size: 64px;
  line-height: 78px;
  color: #FFFFFF;
}
.header .content__text {
  max-width: 481px;
  margin-bottom: 44px;
  font-weight: 300;
  font-size: 18px;
  line-height: 32px;
  color: #FFFFFF;
}
.header .content__text--bold {
  font-weight: 700;
}
.header .content__button {
  width: 234px;
  height: 49px;
  background: #9C0332;
  border: none;
  border-radius: 30px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  cursor: pointer;
  transition: background 0.3s;
}
.header .content__button:hover {
  background: #EB443F;
}

.main {
  padding-top: 128px;
  padding-bottom: 128px;
  background: #000915;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 32px;
}
.main__game-card {
  height: 300px;
  padding-left: 32px;
  padding-bottom: 32px;
  grid-column: span 4;
  background: linear-gradient(180deg, rgba(39, 1, 15, 0) 0%, #001944 100%);
  border-radius: 16px;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #FFFFFF;
  display: flex;
  align-items: end;
  cursor: pointer;
  transition: all 0.5s;
}
.main__game-card:hover {
  border: 3px solid #44D2FF;
  transform: scale(1.05);
}
.main .card-1 {
  background: url(../img/block-bg-1.jpg) center/cover no-repeat;
}
.main .card-2 {
  background: url(../img/block-bg-2.jpg) center/cover no-repeat;
}
.main .card-3 {
  background: url(../img/block-bg-3.jpg) center/cover no-repeat;
}

@media (min-width: 1025px) and (max-width: 1200px) {
  .center {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (max-width: 1024px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .main {
    grid-template-columns: repeat(8, 1fr);
  }
}
@media (max-width: 767px) {
  .center {
    padding-left: calc(50% - 171.5px);
    padding-right: calc(50% - 171.5px);
  }
  .header {
    min-height: 735px;
    padding-top: 0;
    grid-template-columns: repeat(4, 1fr);
    align-content: center;
  }
  .header__content {
    grid-column: span 4;
    align-items: center;
  }
  .header .content__title {
    font-size: 32px;
    line-height: 39px;
    text-align: center;
  }
  .header .content__text {
    margin-bottom: 32px;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
  }
  .main {
    grid-template-columns: repeat(4, 1fr);
  }
}/*# sourceMappingURL=styles.css.map */